.dotnet/
.vscode/
my-personal-hub-api.Tests/bin/
my-personal-hub-api.Tests/obj/
client_secret_*.json
my-personal-hub-api/bin/
my-personal-hub-api/obj/
my-personal-hub-api/Logs/
my-personal-hub-api/Storage/Uploads/
my-personal-hub-api/Storage/DataProtectionKeys/
my-personal-hub-api/Storage/GoogleDriveToken/
my-personal-hub-api/publish/
my-personal-hub-api/*.log
my-personal-hub-api/appsettings.Local.json
my-personal-hub-api/credentials.json
my-personal-hub/.env
my-personal-hub/dist/
my-personal-hub/node_modules/
my-personal-hub/.vscode/
