customtkinter
aiortc==1.14.0
av==16.1.0
google-api-python-client==2.186.0
google-auth
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
numpy
onnxruntime
openpyxl
Pillow
piper-tts
psutil==7.2.1
PyAudio
pydantic==2.12.5
pyinstaller
qrcode[pil]
pytest
pywin32==311
requests==2.32.5
Send2Trash==2.1.0
sherpa-onnx
sounddevice
vietnam-number==1.0.6
yt-dlp==2025.12.8
cryptography
keyring
joblib
mss==10.1.0
scikit-learn
